<!DOCTYPE html>

<html>

    <head>
        <title>Sobre Nosotros</title>
        <link rel="icon" href="/img/Logo2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Esta empresa fue creada por Fabian Pinzón en el año 2015</p>
            <img src="/img/fabian.png" class="portraitFabian">
        </div>
        
        {{>footer}}
    </body>
    
</html>