<!DOCTYPE html>

<html>

    <head>
        <title>Productos</title>
        <link rel="icon" href="/img/Logo2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{products}}
        </div>
        
        {{>footer}}
    </body>
    
</html>