<!DOCTYPE html>

<html>

    <head>
        <title>Pronostico del Clima</title>
        <link rel="icon" href="/img/Logo2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <h2>Pronóstico del Clima</h2>
            
            <form>
                <input placeholder="Ciudad">
                <button>buscar</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
    
</html>