<header>
    <a href="/">
        <img class="logo" src="/img/logoProductosPinzon.png">
    </a>
    <h1>{{title}}</h1>
    <a href="/products">Productos</a>
    <a href="/help">Ayuda</a>
    <a href="/about">Sobre Nosotros</a>
    <a href="/weather">Pronostico del clima</a>
    

</header>
